
*,*::before,*::after{
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

*{
    margin:0;
    padding:0;
}

body{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* Heading Section */

.header-section{
    z-index:1;
    width:100vw;
    height: 50px;
    background-color:rgb(15, 34, 58);
    display:grid;
    grid-template-columns: 220px 1fr 500px;
    align-items: center;
    position: fixed;
    top:0;
    left:0;
}

/* Left side navigation styling */

.nav-left{
    height: 50px;padding-left: 1em;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.logo{
    height:46px;
    width: 46px;
    object-fit: contain;
}

.web-name{
    font-size: 2rem;
    color:white;
    font-family: Calibri,Arial,system-ui, 'Gill sans',sans-serif;
    font-weight: 600;
}

/* Center navigation styling */

.nav-center{
    padding-left: 6em;
}

.search-bar{
    border-left: 1px solid rgb(209, 209, 209);
    border-top: 1px solid rgb(209, 209, 209);
    border-bottom: none;
    border-right: none;
    box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.2);
    color:black;
    border-radius: 5px;
    font-size:0.9rem;
    min-width: 30%;
    width:80%;
    padding:0.7em;
}

.search-bar:focus{
    border:none;
    background-color:white;
    outline: 2px solid rgb(13, 138, 227);
}

/* Right side navigation styling */

.nav-right{
    height: 50px;
    padding: 0.5em;
    display:flex;
    justify-content: space-evenly;
}

.icon-img{
    width:33px;
    height: 30.5px;
    border-radius:5px;
    object-fit: contain;
}

.language{
    padding: 1px;
    border:none;
    border-radius: 5px;
}

.subscribe-btn,.donate,.species-btn{
    background-color: rgb(230, 230, 230);
    color:black;
    font-size: 0.9rem;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    padding: 0.7em 1.2em;
    transition: 0.5s all ease-in-out;
}

.mode{
    border:none;
    border-radius: 5px;
    text-align: center;
    width:36px;
    height: 36px;
    font-size:1.8em;
    font-weight: 700;
    padding:1.5px;
}

.subscribe-btn:hover,.donate:hover,.species-btn:hover,.mode:hover{
    /* background-color: rgb(196, 196, 196); */
    /* background-color: rgb(34, 236, 34); */
    color:white;
    background-color: rgb(13, 138, 227);
}

.subscribe{
    position: relative;
}

.subscribed{
    display:none;
}

.subscribed-show{
    padding: 0.7em;
    text-align:center;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.66);
    color:white;
    border-radius: 5px;
    position:absolute;
    top: 2.5em;
    left: 0;
}

.light-mode{
    background-color: white;
    color:black;
}

.dark-mode{
    background-color: rgb(44, 42, 42);
    color:white;
}

.subscription-section{
    display: none;
    width:400px;
    height:330px;
    padding-bottom: 0.5em;
    box-shadow: -2px 2px 3px rgba(141, 141, 141, 0.66);
    border-radius: 5px;
    background-color: white;
    position: absolute;
    top: 5em;
    z-index:10;
}
.visibility{
    display:flex;
    flex-direction:column;
}
.template-img{
    width: 400px;
    height: 220px;
    object-fit:cover;
    border-radius:5px 5px 0 0;
    border-bottom: 1px dotted rgb(223, 223, 223);
}
.email-section{
    margin-top:0.7em;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.8em;
    align-items: center;
}

.text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.8rem;
    color: gray;
}
.email{
    width: 18em;
    margin:0 0.5em 0 0.5em;
    border:none;
    outline: 1.5px solid gray;
    border-radius: 5px;
    padding: 0.5em;
}

.email:focus{
    outline: 1.5px solid rgb(13, 138, 227);
}

.sub-submit{
    padding: 0.5em 1.3em;
    margin:0 0.5em;
    border-radius: 5px;
    border: 1.5px solid rgb(13, 138, 227);
    background-color: rgb(13, 138, 227);
    color:white;
}

.sub-submit:hover{
    border: 1.5px solid rgb(15, 34, 58);
    background-color: rgb(15, 34, 58);
}

.close{
    border:none;
    padding: 0.2em 0.5em;
    color:white;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.356);
    position: absolute;
    top:-0.5em;
    right:-0.5em;
}

/* Image & Quote Section */

.quote-section{
    display: grid;
    grid-template-columns: repeat(1,minmax(300px,670px));
    position: absolute;
    top: 5em;
}

.quote{
    text-align: center;
    line-height: 23px;
    padding: 1em;
    margin: 0;
    font-size: 1.3rem;
}

.quote-author{
    font-weight: 600;
    text-align: center;
}

.quote-style{
    font-size: 1.3em;
    font-weight: bold;
}

.change-quote{
    margin-left: 60%;
    border:none;
    width: 80px;
    padding: 0.5em;
    font-size: 0.7rem;
    font-weight: 500;
    background-color: rgba(128, 128, 128, 0.2);
    border-radius: 8px;
    color:black;
}

/* Main Content */

h2{
    text-align: center;
    font-size: 1.7em;
}

.content{
    z-index: 0;
    background-color: rgb(230, 230, 230);
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
}

.main-data{
    width:100%;
    height:auto;
    display:flex;
}

.main-data *{
    /* border: 2px solid blue; */
}
.news{
    background-color: rgb(230, 230, 230);
    width: 80vw;
    padding:1.5em;
    position: relative;
    display:grid;
    grid-template-columns: 1fr;
    gap: 1em;
}

.article{
    height: 10em;
    background-color:white;
    border-radius: 5px;
    display:flex;
}

.article:hover{
    box-shadow: -2px 2px 4px rgba(141, 141, 141, 0.66);
}

.side-article-section1, .side-article-section2{
    padding:0.5em;
    margin-top:0.5em;
    background-color:#ffffff;
    border-radius: 3px;
    display:flex;
    flex-direction: column;
}
.extra-info{
    width:19vw;
    padding: 0.5em;
    background-color: rgb(214, 214, 214); ;
    display:flex;
    flex-direction:column;
}
.img{
    width: 230px;
    height:100%;
    object-fit: cover;
    border-radius: 5px 0 0 5px;
}

.desc{
    padding:0.5em;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
.preview{
    font-size:1rem;
}
.other-details{
    color:gray;
    font-size: 0.8rem;
}
.other-details span{
    margin:0.2em;
}
.article-link{
    color:red;
    font-size: 0.8rem;
}
.article-link:hover{
    color:rgb(143, 9, 9);
}
.article-link:visited{
    color:red;
}

.art-prv,.art-next{
    border:none;
    width: 5em;
    padding:0.6em;
    border-radius: 5px;
    background-color: rgb(13, 138, 227);
    color:white;
    position: absolute;
}
.art-prv{
    bottom:0;
    left:2em;
}
.art-next{
    bottom:0;
    right:2em;
}
/* Footer section */

.footer-section{
    width:100%;
}

.back-to-top{
    padding: 1em 1em;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    background-color: rgb(196, 196, 196);
}

a{
    font-size: 0.9rem;
    padding:0.3em 0 0.3em 0.5em;
    color:black;
    text-decoration: none;
}

a:visited{
    text-decoration:none;
}

.about-section{
    background-color: rgb(15, 34, 58);
    color: #ffffff;
}
