@import url('https://fonts.cdnfonts.com/css/amazon-ember');
*,*::before,*::after{
    box-sizing: border-box;
    font-family: 'Amazon Ember', 'Arial',sans-serif;
}

*{
    margin:0;
    padding:0;
}

/*----------header-section --------*/
.header{
    height:60px;
    background-color: rgb(19, 25, 33);
    color:white;
    line-height:12px;
    padding: 0 11px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header div{
    border:1px solid white;
}

.header-left,.header-right,.header-center{
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.header-center{
    height:40px;
    margin:70px;
    flex:1;
}

.logo{
    height:45px;
    border: 1px dotted white;
    width: 95px;
    background-color: rgb(19, 25, 33);
    object-fit:contain;
}

.item-types{
    font-size:14px;
    line-height: 14px;
    color:white;
    max-height:39px;
    padding: 0 11px;
    background-color: rgb(35, 47, 62);
    display:flex;
    justify-content: space-evenly;
    flex-wrap:nowrap;
}

.variations,.all{
    margin: 6px 0 6px 6px;
    padding: 9px 9px;
    cursor:pointer;
    transition:border-style 0.25s, margin 0.25s,border-color 0.25s,border-radius 0.25s , border-width 0.25s, outline-color 0.25s, padding 0.25s;
}

.variations:hover, .all:hover{
    padding: 10px 9px;
    margin: 2px 0 0px 2px;
    border:0.666667px solid rgb(255, 255, 255);
    border-radius: 2px;
    outline-color: rgb(255, 255, 255);
}

.all{
    font-weight:800;
}

/*----Content Section-----------*/
.content{
    display:grid;
    grid-template-columns: 1fr;
    background-color: rgb(229, 229, 229);
    padding: 20px 15px 20px 15px;
}

/*-------Row{1,2,5,8,9}----------*/
.row1,.row2,.row5,.row8,.row9{
    margin: 0 0 15px 0;
    display:flex;
    justify-content:space-around;
}

.area{
    margin:0;
    padding: 5px 10px 10px 10px;
    height:420px;
    width: 290px;
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    background-color:white;
}

h2{
    font-size: 22px;
    line-height: 27px;
    margin-top:5px;
    margin-bottom: 10px;
}

.photos,.only-photos{
    padding-left: 5px;
    height: 290px;
    cursor:pointer;
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    row-gap:15px;
}

.only-photos{
    height: 300px;
    margin-bottom: 20px;
}

.area-photo{
    height:102px;
    width: 122px;
    object-fit:cover;
}

.text{
    font-size:12px;
    margin-top:-6px;
}

.explore-link{
    font-size:14px;
    color:rgb(0, 113, 133);
    cursor:pointer;
    margin-top:5px;
}

.explore-link:hover{
    color:rgb(199, 81, 31);
}

.just-photo{
    height: 125px;
    width: 125px;
    object-fit:contain;
}
/*-----area with just photos---------*/
.single-photo{
    height: 290px;
    width: 270px;
    object-fit: cover;
}

/*------------Area with one image and four small images ------*/
.unique-photo{
    height: 180px;
    width: 180px;
    object-fit: contain;
    margin-top: -10px;
    margin-bottom: 10px;
    margin-left: 35px;
}

.unique-photo-desc{
    font-size: 14px;
}

.images{
    display: flex;
    justify-content: space-evenly;
}

.price{
    font-size: 17px;
    margin:4px 0 4px;
    font-weight: 500;
}

.original-price{
    padding-left:7px;
    font-size: 13px;
    color:gray;
}

.small-photo{
    height: 65px;
    width: 60px;
    object-fit: contain;
    border: 1px solid gray;
    border-radius: 10px;
}

/*----------------horizontal rows : row{3,4,6,10}----------*/
.row3,.row4,.row6,.row10{
    padding-left: 15px;
    padding-right: 15px;
    position:relative;
    margin: 0px 10px 20px 10px;
    background-color: white;
}

::-webkit-scrollbar{
    height: 8px;
}
::-webkit-scrollbar-thumb{
    background-color:rgb(188, 181, 181);
    border-radius: 10px;
}

.horizontal-photos{
    display:flex;
    flex-direction: row;
    width:1180px;
    overflow-x: scroll;
}

.brand-photos{
    height: 160px;
    width: 160px;
    padding: 7px;
    object-fit: contain;
}


.previous,.next{
    color:rgb(188, 181, 181);
    background-color: white;
    font-size: 2.1em;
    text-align:center;
    border:none;
    margin: 0 3px;
    padding: 12px 10px 12px 10px;
    height: 80px;
    cursor:pointer;
    border-radius: 5px;
    visibility:hidden;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

.previous{
    position:absolute;
    top:70px;
    left:0px;
}

.next{
    position:absolute;
    top:70px;
    right:0px;
}

.horizontal-photos:hover .previous{
    visibility: visible;
}
.horizontal-photos:hover .next{
    visibility: visible;
}
.horizontal-photos:hover{
    overflow-x:scroll;
}

/*-------------Live-section:row-7-------------*/
.row7{
    background-color: white;
    height: 300px;
    margin: 0 10px 25px 10px;
    position:relative;
}
.live-section{
    display:grid;
    grid-template-columns: 430px 1fr;
}

.vdo{
    height: 230px;
    width: 400px;
    margin-top:-5px;
    margin-left: 10px;
}

.live-products{
    display:flex;
    flex-direction: row;
    margin-top: -5px;
    overflow-x: scroll;
}
.live-product-photo{
    height: 170px;
    width: 170px;
    margin: 3px 0px 0px;
    object-fit: contain;
}
.live-amzn-chnl{
    font-size: 10px;
    margin:0;
}
.live-amzn-inf{
    color:gray;
}

.previous-btn,.next-btn{
    color:rgb(188, 181, 181);
    background-color: white;
    font-size: 2.1em;
    text-align:center;
    border:none;
    margin: 0 3px;
    padding: 12px 10px 12px 10px;
    height: 80px;
    cursor:pointer;
    border-radius: 5px;
    visibility:hidden;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

.previous-btn{
    position:absolute;
    top: 110px;
    left: 435px;
}
.next-btn{
    position:absolute;
    top: 110px;
    right:5px;
}

.live-products:hover .previous-btn{
    visibility: visible;
}

.live-products:hover .next-btn{
    visibility: visible;
}

/*----Bottom Section-----------*/

.sign-in{
    padding: 40px 0 20px;
    color:rgb(15, 17, 17);
}
.sign-in-border{
    border: 1px solid  rgb(221, 221, 221);
    text-align:center;
    border-radius: 5px;
    padding: 40px 0px 15px;
    line-height: 32px;
}

.sign-in-btn{
    border:1.5px solid rgb(235, 182, 31) ;
    border-radius: 3px;
    background-color: rgb(255, 190, 8);
    color:black;
    font-weight: 700;
    margin-top:7px;
    padding: 0px 90px;
    cursor:pointer;
    box-shadow:inset 0px 10px 4px rgb(255, 214, 147);
    font-size:12px;
    height: 28px;

}

.sign-in-add-customer{
    line-height: 25px;
    font-size: 11px;
}

.sign-in-start{
    color: rgb(0, 113, 133);
    cursor:pointer;
}

.sign-in-start:hover{
    color:rgb(199, 81, 31);
    text-decoration-line: underline;
    text-decoration-color: rgb(199, 81, 31);
}

.back-to-top{
    text-align:center;
    background-color:  rgb(35, 47, 62);
    color:white;
    padding: 15px 0;
    font-size: 13px;
    line-height: 19px;
    opacity:0.92;
    transition:opacity 0.15s;
}

.back-to-top:hover{
    opacity:0.78;
}

a .back-to-top {
    color:white;
    text-decoration: none;
}

a .back-to-top:visited{
    color:white;
    text-decoration: none;
}

a .back-to-top:active{
    color:white;
    text-decoration: none;
}

.footer{
    background-color:  rgb(35, 47, 62);
    color:white;
    padding: 40px 0;
    display:flex;
    justify-content: space-evenly;
}

.footer-section{
    line-height:  25px;
}

.footer-section p{
    font-size: 14px;
    color:rgb(221,221,221);
    cursor:pointer;
    transition: text-decoration-line 0.15s;
}

.footer-section p:hover{
    text-decoration-line: underline;
}
