
*,::before,::after{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

::root{
    --standard-color: white;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

main{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    align-items: center;
}

.icon{
    height: 30px;
    width: 30px;
    object-fit: contain;
}

.forecast-icon{
    height: 40px;
    width: 40px;
    object-fit: contain;
    display:block;
    margin: 0 auto;
}

/* LOCATION */

#location{
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    width: 20%;
    height: 25%;
    margin: 0.8em 0.8em 0;
    border-radius: 3px;
    position: relative;
}

#location div{
    width: 100%;
}


#location button{
    padding:0.45em;
    width: 100%;
    border: none;
    border-radius: 12px;
    color:white;
    background:linear-gradient(90deg,rgb(5, 88, 203),rgb(0, 174, 255));
    cursor:pointer;
}

.or-option{
    text-align:center;
    padding: 0 1em;
}

.len-50{
    width: 35%;
    border:1px solid rgb(202, 202, 202);
}

.selection-text{
    font-weight: 600;
    font-size: 0.9rem;
    color:rgb(202, 202, 202);
}

input[type="text"]{
    border:none;
    border-radius: 15px;
    width: 100%;
    padding: 0.5em;
    margin-bottom:0.5em;
}

input:focus{
    outline:none;
}


/* QUOTE */
section:nth-of-type(2){
    width: 20%;
    padding: 0.8em;
    margin: 0.8em;
    border-radius: 3px;
}
.quote{
    line-height: 1em;
    text-align: center;
    font-family: Arial;
    font-size: 0.8rem;
    color:white;
}

/* SUNRISE & SUNSET */
section:nth-of-type(3){
    margin: 0.6em 0.8em 0.2em 0.8em;
    padding:1em 1.5em;
    width: max-content;
    background-color: white;
    display:flex;
    flex-direction:column;
    align-items:center;
    border-radius: 3px;
    position: relative;
}

/* h2{
    margin: 0.2em auto;
} */

.data{
    display:flex;
    justify-content: space-evenly;
}

.data div{
    background-color: rgb(207, 207, 207);
    border-radius: 3px;
    line-height: 1.5em;
    width: 130px;
    padding:0.3em;
    position: relative;
}

.data h4{
    text-align:center;
}

.right{
    position:absolute;
    right:4px;
}


.left{
    position:absolute;
    left: 4px;
}

.data div p{
    font-size: 0.9rem;
}

.hidden{
    visibility: hidden;
}

.visible{
    visibility: visible;
}

.dot{
    color:gray;
    font-size: 1.7rem;
}

.active{
    color:black;
}

button[class='left'],button[class='right']{
    border:none;
    font-size: 0.8rem;
    font-weight: 600;
    background-color: rgba(160, 160, 160, 0.333);
    border-radius: 50%;
    padding: 0.2em 0.4em;
    top: 40%;
}

#api-source{
    font-size: 0.6rem;
    color:rgb(163, 163, 163);
}

#api-source a{
    color: black;
    text-decoration: none;
}
/* WEATHER FORECAST */

section:nth-of-type(4){
    width:640px;
    height: 100vh;
    background-color: rgba(45, 45, 45, 0.053);
    margin:0.8em 0;
    border-radius: 3px;
}

#current-weather{
    width: 100%;
    height: 60%;
    border-radius:3px;
    background-color: white;
    margin-bottom:0.8em;
}

#current-data{
    padding: 0.8em;
    width:100%;
    height: 70%;
    display:flex;
    gap: 0.8em;
    justify-content: space-evenly;
}

#time{
    width: 35%;
    height:100%;
    background-color: lightgray;
    border-radius: 3px;
}

.set-location{
    margin: 0 0.4em;
    padding: 0.5em 1em;
    border-radius: 10px;
    font-size:0.7rem;
    background:linear-gradient(90deg,rgb(5, 88, 203),rgb(0, 174, 255));
}

.clock-time{
    margin-top: 0.2em;
    font-size: 1.5rem;
    font-weight: 600;
}

#weather{
    width: 60%;
    height: 100%;
    background-color: lightgray;
    border-radius: 3px;
    display:flex;
}

.weather-temp{
    width: 50%;
    height: 100%;
    display:flex;
    align-items:center;
    flex-direction: column;
    justify-content: center;
    position:relative;
}

.weather-image{
    width:50%;
    height: 100%;
    display: flex;
    align-items:center;
    flex-direction:column;
    justify-content: center;
    gap: 0.8em;
}

.space{
    margin: 0 0.4em;
}
.set-temp{
    font-size: 1.5rem;
    font-weight: 600;
}

.weather-img{
    width: 60%;
    height: 60%;
    object-fit: contain;
}

.weather-font{
    font-size:0.7rem;
    line-height: 1.6em;
    color: gray;
}

/* .weather-font:last-of-type{
    position:absolute;
    bottom:0;
} */

.weather-description{
    font-size: 1.2rem;
    color: gray;
}

#extra-data {
    width:100%;
    height: 30%;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

#extra-data div{
    display:flex;
    width: 30%;
    height: 80%;
    border-radius: 3px;
    background-color: lightgrey;
}


.extra-data-icon{
    padding: 0.3em;
    width: 45px;
    height: 45px;
    object-fit: contain;
    /* border: 1px solid red; */
}

.extra-data-font{
    /* position: absolute;
    bottom:0; */
    color: gray;
    font-size: 0.8rem;
}

.extra-data-value{
    font-weight: 600;
    font-size: 1.2rem;
    color:gray;
}

.size{
    width: 50%;
    height: 100%;
}

.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#forecast{
    height: 35%;
    width: 100%;
    padding: 1em;
    display:flex;
    gap: 0 0.65em;
    justify-content: center;
    background-color: white;
    border-radius: 3px;
    /*
    flex-wrap: wrap; */
}

#forecast div{
    padding: 0.8em;
    line-height: 1.5em;
    border-radius: 3px;
    font-size: 0.8rem;
    text-align: center;
    width: max-content;
    height: 100%;
    background-color:rgb(223, 223, 223);
}

#forecast div p{
    position: relative;
}

.value{
    font-size:0.78rem;
    color:rgb(144, 144, 144);
}

.bold{
    font-weight: 600;;
}
/* EXTRA DATA */

section:nth-of-type(5){
    width: 20%;
    height: 45%;
    margin:0.8em;
    padding: 0.5em;
    border-radius: 3px;
    background-color: white;
    position: relative;
    right:0px;
    top:0;
}

section:nth-of-type(5) > div{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border-radius: 3px;
}

/* .indicator{
    transform-origin: center;
    transform: rotate(-90deg);
    position:absolute;
    left:0;
    bottom:-0.89em;
} */


input[type='range']{
    width: 95%;
    appearance: none;
    pointer-events:none;
    border-radius: 12px;
    height: 50%;
    background: linear-gradient(90deg, green 0%,green 20%,yellow 20%,yellow 40%,orange 40%,orange 60%,red 60%,red 80%,purple 80%, purple 100%);
}

input[type='range']::-webkit-slider-thumb{
    appearance: none;
    width: 0.5em;
    height: 1em;
    border-radius: 0 0 95% 95%;
    background-color: black;
}

datalist{
    margin-top: -1em;
    width: 100%;
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    writing-mode: vertical-lr;
    font-size: 0.7em;
}

/* #aqi-bar{
    margin: 0 auto;
    border-radius: 5px;
    width: 90%;
    height: 12px;
    background: linear-gradient(90deg, green 0%,green 20%,yellow 20%,yellow 40%,orange 40%,orange 60%,red 60%,red 80%,purple 80%, purple 100%);
    position: relative;
} */

#pollutants-data{
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    gap: 0.6em;
}

.pollutants{
    width: 97px;
    height: 60px;
    border-radius: 3px;
    background-color: rgb(207, 207, 207);
    position: relative;
}

.pollutant-font{
    padding-bottom: 0.4em;
    color:rgb(83, 82, 82);
    font-size: 0.7rem;
    font-weight: 500;
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
}

.pollutant-unit,.weather-unit{
    margin: 0.15em;
    font-size: 0.6rem;
    color:gray;
}

.pollutant-value{
    font-size: 1rem;
    font-weight: 600;
    margin: 0.15em;
}

.center{
    position: absolute;
    top:15px;
    left:0;
    right:0;
    margin:auto;
}


section:last-of-type{
    width: 20%;
    height: 45%;
    display:flex;
    /* background-color: white; */
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 3px;
}

section:last-of-type div{
    padding: 0.4em;
    width: 100%;
    display:flex;
    justify-content: center;
    border-radius: 3px;
    background:linear-gradient(90deg,rgb(5, 88, 203),rgb(0, 174, 255));
}

.line-separator{
    width: 88%;
    margin: 0 auto;
    border:0.2px solid rgb(196, 196, 196);
    outline:none;
}