*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

*,*::before,*::after{
    box-sizing:border-box;
}

main{
    background-color: rgb(197, 192, 192);
}


.header-section{
    border: 1px solid black;
    width: 100vw;
    height: 4em;
    background-color:  rgb(15, 17, 17);
    display:flex;
    flex-direction: row;
    /*
    position:fixed;
    top:0;
    left:0;*/
}

.header-section div{
    border: 1px solid white;
    padding: 6px;
}

.header-right{
    width:30%;
    display:flex;
}
.header-left{
    width: 20%;
}
.header-center{
    flex:1;
    display: flex;
    justify-items: flex-start;
    justify-content: center;
}
.amazon-logo{
    border: 1px solid white;
    height: 33px;
    object-fit: cover;
    margin-left: 5px;
}

.select-search-area-options{
    width: 60px;
    height: 40px;
    border:none;
    border-radius: 7px 0 0 7px;
    background-color: rgb(229, 227, 227);
}

.select-search-area{
    font-size: 0.9rem;
    width: 60px;
    height: 40px;
    border:none;
    border-radius: 7px 0 0 7px;
    background-color: rgb(229, 227, 227);
}

.search-bar{
    height: 40px;
    border: none;
    min-width: 50%;
    width: 60%;
    max-width: 100%;
    font-size: 1rem;
    padding: 10px;
}

.search-button{
    height: 40px;
    width: 50px;
    border:none;
    border-radius: 0 10px 10px 0;
    background-color: rgb(241, 208, 26);
}

.search-icon{
    height: 40px;
    width: 40px;
    border-radius: 0 7px 7px 0;
}

/*------------*/
.add-to-cart{
    font-size: 0.87rem;
    padding: 0 65px;
    height: 30px;
    border:none;
    border-radius: 16px;
    cursor:pointer;
    background-color: rgb(255, 216, 20);
    transition: 0.5s all ease;
}
.add-to-cart:hover{
    background-color:rgb(255, 177, 21);
}

.added-to-cart{
    font-size: 0.9rem;
    font-weight: 600;
    color:green;
    margin-top: 5px;
}

/*-----------------*/
.quantity-options{
    border:none;
    background-color:rgb(229, 225, 225);
    padding: 6px 0px;
    border-radius: 30%;
    cursor:pointer;
}

.quantity-options:hover{
    background-color:rgb(206, 201, 201);
}

/*----------------------------------------*/
.image-size{
    width: 100%;
    height: 50%;
    object-fit:contain;
}
/*-----------------------------------*/
.products{
    padding: 30px;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    column-gap: 40px;
}
.product-items{
    padding: 10px 5px;
    background-color: white;
    border-radius: 5px;
    height: 400px;
}

/*-----------------------------------------------*/

.description-section{
    padding: 5px;
    height: 50%;
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
}
.description{
    font-size:0.9rem;
    font-weight: 500;
    text-align: center;
    height: 40px;
}

.rating-count{
    color:rgb(1, 124, 182);
    font-weight: 500;
    cursor:pointer;
}

sup{
    font-size: 0.7rem;
}

.discount{
    color:red;
    font-size: 0.8rem;
    font-weight: 400;
    margin-right: 7px;
}

.cost{
    font-size: 1.1rem;
    font-weight: 600;
}

.org-price{
    color:gray;
    font-size: 0.8rem;
    font-weight: 400;
    margin-left: 40px;
}

.description-common-section{
    text-align:center;
}

.free-delivery{
    font-size: 0.8rem;
    margin-bottom: 8px;
}

/*-------Back to Top----------------*/
.back-to-top{
    text-align:center;
    background-color:  rgb(35, 47, 62);
    color:white;
    padding: 15px 0;
    font-size: 13px;
    line-height: 19px;
    opacity:0.92;
    transition:opacity 0.15s;
}

.back-to-top:hover{
    opacity:0.78;
}

a .back-to-top {
    color:white;
    text-decoration: none;
}

a .back-to-top:visited{
    color:white;
    text-decoration: none;
}

a .back-to-top:active{
    color:white;
    text-decoration: none;
}


/*-------Footer Section--------------*/
.footer{
    background-color:  rgb(35, 47, 62);
    color:white;
    padding: 40px 0;
    display:flex;
    justify-content: space-evenly;
}

.footer-section{
    line-height:  25px;
}

.footer-section p{
    font-size: 14px;
    color:rgb(221,221,221);
    cursor:pointer;
    transition: text-decoration-line 0.15s;
}

.footer-section p:hover{
    text-decoration-line: underline;
}

