
*,*::before,*::after{
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

*{
    margin:0;
    padding:0;
}

::-webkit-scrollbar{
    height: 12px;
}

::-webkit-scrollbar-thumb{
    background-color: #DAC0A3;
    outline: 0.15em solid #d3b490;
    outline-offset: -0.1em;
    border: 0.15em solid white;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

::-webkit-scrollbar-track{
    background-color: #F8F0E5;
    border-radius: 10px;
}

.dark-theme{
    background-color: gray;
}
.image-slider{
    position: relative;
}
.image{
    width: 100vw;
    height: auto;
    object-fit: cover;
}
.nav-section{
    position:absolute;
    left:0;
    top:30%;
}
.section{
    padding: 1em;
    border:none;
    border-radius: 1em;
    background-color: #114852;
    color:white;
    cursor:pointer;
    transition: 0.5s all ease-in-out;
}
.section:hover{
    border: 2px solid #114852;
    background-color: rgba(255, 255, 255, 0.24);
    color: black;
}

.quote{
    padding: 1em;
    margin: 0.8em;
    font-size: 1.3rem;
    position:absolute;
    bottom: 24%;
}

.quote-author{
    display:none;
}

.quote:hover .quote-author{
    margin-top: 0.5em;
    display:inline;
    font-style:italic;
    font-size: 1rem;
    position: absolute;
    right: 0;
}








.header-section{
    background-color: #114852;
    padding: 0.7em;
    border-radius: 0 0 7px 7px;
    color:white;
    display:flex;

}


.header-left{
    width: 300px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.header-center{
    flex:1;
}

.header-right{
    width: 310px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.logo-name{
    font-size: 2.2em;
    font-weight: 600;
    letter-spacing: 0.1ch;
    position: relative;
}

.fusion-style{
    letter-spacing: 0.08ch;
    position:absolute;
    top:0;
    right:4px;
    color:#18BfB1;
}

.search{
    border:none;
    margin-left: 2em;
    margin-right: 2em;
    border-radius: 20px;
    padding: 0.7em;
    font-size: 1rem;
    width: 35em;
}

.play-area{
    height: 2.2em;
    width: 2.2em;
    object-fit: cover;
    border-radius: 50%;
}
.play-zone{
    padding:0.2em;
    margin:0 0.8em;
}
.log-in{
    width: 6em;
    height: 2.6em;
    padding: 5px 6px 5px 22px;
    border-radius: 10px 25px 25px 10px;
    background-color: #ffffff;
    transition: 0.5s all ease-in-out;
    outline: 2px solid white;
    outline-offset: 3px;
    font-size: 1rem;
    font-weight: 600;
    border:none;
    z-index:1;
}
.log-in:hover{
    background-color:#edeee7;
}
.sign-in{
    width: 6em;
    height: 2.6em;
    padding: 5px 10px 5px 9px;
    border-radius: 25px;
    background-color: #18BfB1;
    font-size: 1rem;
    font-weight: 600;
    margin-right: -1.7em;
    z-index: 2;
    border:none;
    transition: 0.5s all ease-in-out;
}

.sign-in:hover{
    color:white;
}


.theme{
    height: 2.2em;
    width: 2.2em;
    padding: 0.3em;
    border-radius: 50%;
    object-fit:cover;
    background-color: white;
}

.dark,.light{
    height: 2.4em;
    width: 2.4em;
    margin-top: 0.2em;
    margin-right: 1em;
    transition: 0.5s all ease-in-out;
}

.visibility{
    display:none;
}


/*
.profile-photo,.settings{
    height: 40px ;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.settings{
    background-color: #493628;
    object-fit: contain;
}*/

h2{
    color:#114852;
    margin: 0.7em;
    text-align: center;
    font-size: 1.7em;
}

content{
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
}

.aquatic-section{
    margin-left: 20px;
    background-image: linear-gradient(90deg,#114852,#008080,#18BfB1);
    width: 200px;
    height: 220px;
    border-radius: 30px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
    cursor:pointer;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

.aquatic-animals-row-imgs{
    width: 91vw;
    padding: 1.2em;
    border-radius: 25px;
    background-color: #114852;
    display:flex;
}
.land-animals-row-imgs{
    width: 100vw;
    padding: 1em;
    background-color: #114852;
    outline: 3px solid #114852;
    outline-offset: 4px;
    display:flex;
}

.land-section{
    margin: 0.8em;
    cursor:pointer;
}

.land-img{
    width: 200px;
    height:180px;
    object-fit: cover;
    border-radius: 10px;
}

.land-name{
    margin-top: 0.6em;
    text-align:center;
    font-size:1rem;
    font-weight: 600;
    color:#F8F0E5;
}

.birds{
    width: 100vw;
    padding: 0.8em 0;
    background-color: #114852;
    color: #F8F0E5;
}

.bird-row-imgs{
    width: 100vw;
    height: 80vh;
    padding: 1em;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,220px));
    column-gap: 1.3em;
    row-gap: 2.2em;
    overflow-y:scroll ;
}
.aquatic-img{
    width: 150px;
    height:180px;
    object-fit: cover;
    border-radius: 1.2em;
}

.succulent-row-imgs{
    width: 100vw;
    height: 60vh;
    padding: 1.5em;
    background-color: #114852;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(110px, 125px));
    column-gap: 1.8em;
    row-gap: 3em;
    overflow-y:scroll;
}
.succulent-img{
    width: 110px;
    height:110px;
    object-fit:cover;
    border-radius: 1em;
    margin-bottom: 0.8em;
}

.succulent-card{
    background-color: #edeee7;
    border-radius: 1em 1em 0.3em 1em;
    position: relative;
    cursor:pointer;
}
/*.desc{
    width: 100%;
    height: 30px;
    border-radius: 10px;
}*/

.aquatic-name{
    text-align:center;
    margin-top: 0.6em;
    font-size:0.95rem;
    font-weight: 600;
    color: #F8F0E5;
}

.succulent-name{
    font-size:0.8rem;
    font-weight: 600;
    margin: 0.2em;
    position: absolute;
    color:#F8F0E5;
}

.flower-img,.bird-img{
    width:11em;
    height: 11em;
    object-fit: cover;
    border-radius: 10px;
}

.flower-row-imgs{
    width: 100vw;
    padding: 1em;
    height: 16em;
    background-color: #114852;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.flower-section,.bird-section{
    width: 100%;
    height: 100%;
    background-color:#114852 ;
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
    border: 2px solid #F8F0E5;
    cursor:pointer;
    /*outline: 0.2em solid #d3b490;
    outline-offset: 0.1em;*/
    position: relative;
}

.bird-section{
    width: 210px;
    height: 230px;
    border:none;
}

.flower-name,.bird-name{
    font-size:1.2rem;
    font-weight: 600;
    position:absolute;
    top:-13px;
    color:#F8F0E5;
    background-color: #114852;
}

.bird-name{
    font-size:1.1rem;
    border-radius: 5px 5px 0 0;
    text-align:center;
    left:0;
    right: 2em;
}

.back-to-top{
    margin: 1.5em 0 0 0;
    padding: 1em 1em;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    background-color: #008080;
    border-radius: 7px 7px 0 0;
    color: #ffffff;
}

a{
    color:white;
    text-decoration: none;
}
a:hover{
    color:#ffffff;
    text-decoration: underline;
}
a:visited{
    color:white;
    text-decoration:none;
}

.about-section{
    padding: 5em 5em;
    background-color: #114852 ;
    color: #ffffff;
}


